<div class="campaign_wrapper">
<div class="campaign_header">
  <label>Campaign Type</label>
  <select>
    <option>1</option>
    <option>2</option>
  </select>
  <label>Date</label>
    <input type="date" />
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
              <i class="material-icons removematerialicon">
                  search
                  </i>
          </button>
        </div>
      </div>
      <i class="material-icons">
          add_circle
          </i>
</div>
<div class="campaign_content"></div>
</div>